
@import 'colors';

#menu-main{
  a {
    text-transform: uppercase;
    padding: 55px;
    color: #000000;
    font-size: 1.1em;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  }
  ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 0 17px 0;
    list-style: none;
    &:first-child {
      border-left: 1px solid $yellow-dark !important;
    }
  }
  ul li {
    font-family: 'gotham';
    border-right: 1px hidden $yellow-dark !important;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 17px 0 !important;
    background: transparent;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    @media screen and (max-width: $screen-md-max) {
          padding: 10px 25px;
    }
  }
  ul li:hover {
    background: transparent;
    color: #fff;
  }
  ul li ul {
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 330px;
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
  }
  ul li ul li {
    border-right: 0 !important;
    border-bottom: 1px solid #CCC;
    font-size: .85em !important;
    margin-left:20px;
    padding-left: 15px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: rgba(255,255,255,1);
    display: block;
    color: $font-black;
    a{
      font-size: 1em;
      color: $font-black;
      text-shadow: none !important;
    }
  }
  ul li ul li:hover {
    background: $font-black;
    a{
      color: #fff;
    }
  }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
