---
#Landing page
---

{% include head.html %}
{% include header.html %}

<!--BOOTSTRAP MEDIA TEST-->
<p>
  <span class="visible-xs">SIZE XS</span><span class="visible-sm">SIZE SM</span><span class="visible-md">SIZE MD</span><span class="visible-lg">SIZE LG</span>
</p>
<!--MOBILE BUTTONS-->
<div class="row">
   <!--LOGO SECTION-->
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="logo">
    <a href="{{site.baseurl}}/index.html"><img class="logo-img" src="images/logo.svg" onerror="this.src='images/logo.png'" alt="Sport Site"></a>
    <!-- <p class="logo-sub hidden-xs">Escuela en Línea del Condado de Los Angeles<br />administrada y operada por <span class="olin-font">Olin Virtual Academy</span></p> -->
  </div>
  <!--MENU BUTTONS-->
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs" id="menu-button">
    <span class="hidden-xs menu"><i style="padding-right: 15px;" class="fa fa-bars"></i>Menú</span>
  </div>
  </div>


<nav class="mobile-nav">
<div class="container-fluid">
  <div class="row visible-xs" >
  <div class="col-xs-12">
    <div class="visible-xs" id="menu-btn-mobile">
          <span class="visible-xs"><i id="fa-bars" class="fa fa-bars"></i></span>
      </div>
  </div>
  <div id="mobile-buttons" class="visible-xs row">
    <div class="mobile-heading">
      <p>WE GOT GAME</p>
    </div>
    <div class="mobile-sub-heading">
      <p>SEE WHY</p>

    </div>
  </div>
</div>
</div>
</nav>

<!--VIDEO HEADING NON-MOBILE-->
<div class="container-fluid" id="infographic-section">
  <div class="row" >
    <div class="col-lg-8 col-md-2 col-sm-1 col-sm-push-1 col-md-push-1 hidden-xs" >
      <p class="text-heading">
          WE GOT<br />GAME
      </p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-sm-push-1 col-md-push-1 hidden-xs" >
      <p class="text-sub-heading">
          <span> SEE WHY</span>
      </p>
      <a href="#"><i id="play-icon" class="fa fa-play-circle-o"></i></a>
    </div>
  </div>
  
</div>
</div>

{% include footer.html %}
</body>
