---
layout: detail
---

{% include head.html %}
{% include header-sub.html %}
<script>
var mq = window.matchMedia( "(min-width: 700px)" );
$(function(){
  if (mq.matches) {
	  $('#menu-main').show();
}
else {
		  $('#menu-main').hide();
}
});
</script>
{% if page && page.css %}
  <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/css/{{ page.css }}.css' />
{% endif %}
<div class="row">
<div class="col-lg-12 col-md-12 hidden-xs" id="logo-sub">
  <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/olin-latina-logo.svg" onerror="{{site.baseurl}}/images/olin-latina-logo.png'" alt="olin virtual academy"></a>
</div>
<div class="visible-xs" id="menu-btn-mobile">
    <span class="visible-xs"><i id="fa-bars" class="fa fa-bars"></i></span>
</div>
<div class="visible-xs" id="logo">
<img class="logo-img img-responsive" src="{{site.baseurl}}/images/olin-latina-logo.svg" onerror="{{site.baseurl}}/images/olin-latina-logo.png'" alt="olin virtual academy">
</div>
</div>
<div class="container-fluid {{ page.type }}">
  <div class="row">
    <div class="col-lg-2"></div>
      <div class="col-lg-8 col-md-12 col-xs-12">
      {% if page.image %}
        <img class="img-responsive sub-page-header-img" src="{{site.baseurl}}/images/{{page.image}}">
      {% else %}
        <img class="img-responsive sub-page-header-img" src="{{site.baseurl}}/images/inscripcion-simultanea-md.jpg">
      {% endif %}
      </div>
  <div class="col-lg-2"></div>
  </div>
<div class="row">
  <div class="col-lg-2"></div>
  <div id="sub-pages-content" class="col-lg-8 col-xs-12">
    <div class="row">
      <div style="padding-right: 20px !important;" class="col-lg-9 col-xs-12 left-column">
        {{ content }}
      </div>
      <div class="col-lg-3 col-xs-12 right-column">
        {% include right-col.html %}
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
{% include footer.html %}
</div>
</body>
