---
layout: teachers
---

    {% include head.html %}
    {% include header-sub.html %}
    <script>
    var mq = window.matchMedia( "(min-width: 500px)" );
    $(function(){
      if (mq.matches) {
    	  $('#menu-main').show();
    }
    else {
    		  $('#menu-main').hide();
    }
    });
    </script>
    {% if page && page.css %}
      <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/css/{{ page.css }}.css' />
    {% endif %}
    <div class="row">
    <div class="col-lg-12 col-md-12 hidden-xs" id="logo-sub">
      <img src="{{site.baseurl}}/images/olin-latina-logo.svg">
    </div>
    <div class="visible-xs visible-sm" id="menu-btn-mobile">
        <span class="visible-xs"><i id="fa-bars" class="fa fa-bars"></i></span>
    </div>
    <div class="visible-xs" id="logo">
      <a href="{{site.baseurl}}/index.html"><img class="logo-img img-responsive" src="{{site.baseurl}}/images/olin-latina-logo.svg" onerror="{{site.baseurl}}/images/olin-latina-logo.png'" alt="olin virtual academy"></a>
    </div>
    </div>
    <div class="container-fluid {{ page.type }}">
      <div class="row">
        <div class="col-lg-2"></div>
          <div style="margin-top: 75px;" class="col-lg-8 col-md-12 col-xs-12">
          </div>
      <div class="col-lg-2"></div>
      </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div id="staff-content" class="col-lg-8 col-xs-12">
        <div class="row">
          <div style="border-right: 0 !important;" class="col-lg-12 col-xs-12">
            {% include medialist.html tableName='teachers' order='rank' %}
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    {% include footer.html %}
    </div>
    </body>
