---
# Custom CSS
---

// @media values
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

$nav-height: 100px;

@charset "utf-8";
@import 'colors';
@import 'custom-sub';
@import 'desktop-nav';

@font-face {
    font-family: 'evogria', sans-serif;
    src: url("{{ site.baseurl }}/CSS/fonts/evogria.eot");
    src: url("{{ site.baseurl }}/CSS/fonts/evogria.otf") format('truetype');
}
@font-face {
    font-family: 'gotham', sans-serif;
    src: url("{{ site.baseurl }}/CSS/fonts/gotham.eot");
    src: url("{{ site.baseurl }}/CSS/fonts/gotham.otf") format('truetype');
}
body {
  &::-webkit-scrollbar {
    display: none;
  }
  font-family: 'Lato', sans-serif;
  @media screen and (max-width: $screen-xs-max) {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    background: none;
  }
}
.sub-pages {
  background: url("{{ site.baseurl }}/images/site-sub-bg.jpg") no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.landing-page {
  background: url("{{ site.baseurl }}/images/site-bg.jpg") no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #fff;
  @media screen and (max-width: $screen-xs-max) {
    background: none;
    width: 100%;
}
}
.container-fluid {
    @media screen and (max-width: $screen-xs-max) {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
}
#menu-main a {
  font-size: 20px;
}

#menu-main {
  text-align: center;
    @media screen and (max-width: $screen-sm-max){
      font-size:.7em;
    }
}
#panel-menu {
  max-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: #fff;
  padding: 15px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  @media screen and (max-width: $screen-sm-max) {
      height: 100% !important;
      max-height: none !important;
    }
  a {
    color: $yellow;
  }
  ul {
    margin: 0!important;
    list-style-type: none !important;
  }
  ul li {
      padding: 10px 15px 10px 15px;
      li:active {
        background-color: #EEE;
      }
      a {
        padding-right: 50px;
      }
    }
  ul li ul li {
    border-bottom: 1px solid #ccc;
    a {
      color: $font-black !important;
    }
  }
}
#panel-menu-inner {
  height: 500px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: $screen-sm-max) {
      height: 100% !important;
    }
}
nav {
  margin: auto;
  ul {
    margin: 0px;
    @media screen and (max-width: $screen-xs-max) {
      padding:0px !important;
    }
  }
}
.navbar {
  padding-top: 15px;
  background-color: rgba(255,255,255, 0.75);
  border: 0;
  height: 85px;
  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    height: 75px;
    background-color: rgba(255,189,2, 0.75);
    display: inline-block;
    }
  @media screen and (max-width: $screen-md-max) {
    height: 75px;
    }
  @media screen and (max-width: $screen-xs-max) {
    height: auto;
    background-color: rgba(255,189,2, 0.9);
    border: 0;
    padding: 0;
  }
}
#mobile-nav {
}
#menu-button {
  padding: 85px 0 0 0;
  //width: 400px;
  font-size: 1.8em;
  font-weight: 700;
  cursor: pointer;
  display: none;
}
#menu-btn-mobile {
  cursor: pointer;
    position: fixed;
    top: 5px;
    right: 30px;
    font-size: 2.3em;
    z-index: 9999;
    color: $font-black;
    a {
      color: $font-black;
    }
}
#logo {
  padding: 3% 0 0 9%;
  @media screen and (max-width: $screen-xs-max) {
      position: fixed;
      padding: 5px 0 10px 0;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 110%;
      z-index: 9997;
      background-color: rgba(255,255,255,.6);
  }
  @media screen and (max-width: $screen-sm-max) {
    //padding: 10% 0 0 2.5%;
    margin-top: -130px;
    margin-left: -40px;
  }
  @media screen and (min-width:$screen-md-min){
    margin-top:-10%;
    width: 150px;
    margin-left: -60px;
  }
  @media screen and (min-width:$screen-lg-min){
    width: 250px;
    margin-top: -59px;
  }
}
.logo-img {
  @media screen and (min-width: $screen-lg-min) {
    width: 300px;
    margin-top: 5px;
    margin-left: 48px;
  }
  @media screen and (max-width: $screen-md-max) {
    width: 202px;
    margin-top: 135px;
    margin-left: 45px;
  }
  @media screen and (min-width: $screen-sm-min) {
    width: 102px;
    margin-top: 62px;
    margin-left: 48px;
  }
  @media screen and (max-width: $screen-xs-max) {
    width: 70px;
    margin-top: 135px;
    margin-left: 45px;
  }  
}
.logo-sub {
  @media screen and (max-width: $screen-sm-max) {
  }
}
#play-icon {
  font-size: 190px;
  line-height: 90px;
  margin-left: 66px;
}
.text-heading {
  font-family: 'evogria', sans-serif; 
  padding: 0 0 0 0;
  color: #7D0404;
  text-transform: uppercase;
  text-align: left;
  -webkit-transform: rotate(347deg);
  -moz-transform: rotate(347deg);
  -o-transform: rotate(347deg);
  
  margin-top: -90px;
  margin-left: 100px;
  font-weight: 400;
  opacity: 0.8;

  @media screen and (max-width: $screen-xs-max) {
    padding: 5px;
    margin-top: 15px;
    font-size: 1.5em;
    background-color: #fff;
    display: none;
  }
  @media screen and (max-width: $screen-sm-max) {
    font-size: 30px;
    line-height: 133px;
    margin-top: 240px;
    margin-left: -140px;
  }
  @media screen and (max-width: $screen-md-max) {
      font-size: 208px;
      line-height: 185px;
      margin-top: 140px;
      margin-left: 15px;
  }
  @media screen and (min-width: $screen-lg-min) {
      font-size: 310px;
      line-height: 280px;
      margin-top: -55px;
      margin-left: -1px;
  }
}
.text-sub-heading {
  font-family: "evogria";
  text-transform: uppercase;
  text-align: left;
  -webkit-transform: rotate(347deg);
  -moz-transform: rotate(347deg);
  -o-transform: rotate(347deg);

  @media screen and (max-width: $screen-xs-max) {
    padding: 5px;
    margin-top: 15px;
    font-size: 1.5em;
    background-color: #fff;
  }
  @media screen and (max-width: $screen-sm-max) {
    font-size: 10px;
    margin-top: 175px;
    margin-left: 140px;
  }
  @media screen and (max-width: $screen-md-max) {
    //  padding-left: 400px;
    font-size: 55px;
    margin-top: 150px;
    margin-left: 200px;
    line-height: 57px;
  }
  @media screen and (min-width: $screen-lg-min) {
      font-size: 66px;
      margin-top: 100px;
      margin-left: -475px;
  }
}
#play-icon {
  -webkit-transform: rotate(347deg);
  -moz-transform: rotate(347deg);
  -o-transform: rotate(347deg);

  @media screen and (min-width:$screen-sm-min){
    
  }
  @media screen and (min-width:$screen-md-min){
    font-size: 125px;
    margin-left: 86px;

  }
  @media screen and (min-width:$screen-lg-min){
    font-size: 185px;
    margin-top: 69px;
    margin-left: -360px;
  }
}
.infographic {
  padding: 0;
  width: 85%;
  margin: auto;
  @media screen and (max-width: $screen-xs-max) {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
  }

}
.info-description {

  @media screen and (max-width: $screen-sm-max) {
    padding-left: 363px;
  }
}

.infographic-description {
  width: 80%;
  font-size: 1em;
  margin-top: 15px;
  background-color: #d464e4;
  color: #fff;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 28px;
  text-align: center;
  @media screen and (max-width: $screen-xs-max) {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: auto;
    width: 100%;
  }
  @media screen and (max-width: $screen-sm-max){
    padding-top: 430px;
    padding-left: 363px;
  }
}
.mobile-heading {
  color: darkred;
  font-family: "evogria";
  font-size: 85px;
  text-transform: uppercase;
  text-align: left;
  -webkit-transform: rotate(347deg);
  -moz-transform: rotate(347deg);
  -o-transform: rotate(347deg);
  line-height: 90px;
  margin-top: -155px;
  margin-left: 33px;
  opacity: 0.8;
}
.mobile-sub-heading {
  font-family: "evogria";
  font-size: 35px;
  text-transform: uppercase;
  text-align: left;
  -webkit-transform: rotate(347deg);
  -moz-transform: rotate(347deg);
  -o-transform: rotate(347deg);
  line-height: 90px;
  margin-top: -40px;
  margin-left: 74px;  
}
.footer {
  font-weight: 600;
  display: none;
  @media screen and (max-width: $screen-xs-max) {
    padding: 10px 0 10px 0;
    background-color: #7F0790;
    font-size: .65em;
    font-weight: 400;
    color: #fff;
    width:100%;
  }
}
.m-button {
  padding-right: 10px !important;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  font-weight: 700;
  margin: auto;
  margin-top: 10px;
  width: 98%;
  height: 45px;
  background: -webkit-linear-gradient(90deg, rgba(255,189,2, 0) 20%, rgba(255,189,2, 1) 80%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, rgba(255,189,2, 0) 20%, rgba(255,189,2, 1) 80%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, rgba(255,189,2, 0) 20%, rgba(255,189,2, 1) 80%); /* IE10 */
  background:      -o-linear-gradient(90deg, rgba(255,189,2, 0) 20%, rgba(255,189,2, 1) 80%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, rgba(255,189,2, 0) 20%, rgba(255,189,2, 1) 80%); /* W3C */
}
.m-button-purple {
  padding-right: 10px !important;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  font-weight: 700;
  margin: auto;
  width: 98%;
  height: 45px;
  background: -webkit-linear-gradient(90deg, rgba(212,100,228,0) 20%, rgba(212,100,228,1) 80%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, rgba(212,100,228,0) 20%, rgba(212,100,228,1) 80%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, rgba(212,100,228,0) 20%, rgba(212,100,228,1) 80%); /* IE10 */
  background:      -o-linear-gradient(90deg, rgba(212,100,228,0) 20%, rgba(212,100,228,1) 80%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, rgba(212,100,228,0) 20%, rgba(212,100,228,1) 80%); /* W3C */
}
.btn-padding {
  padding-right: 10px;
}
#mobile-buttons {
  width: 100%;
  background: url("{{ site.baseurl }}/images/site-bg-mobile.jpg") no-repeat center;
  background-size: cover;
  padding-top: 95%;
  margin-top: 66px;
  font-size: 1em;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.35);
}
#infographic-section {

  @media screen and (min-width:$screen-sm-min){
    margin-top:-15%;
  }
  @media screen and (min-width:$screen-md-min){
    margin-top:-10%;
  }
  @media screen and (min-width:$screen-lg-min){
    margin-top:8%;
  }
}
.col-lg-12, .col-md-12, .col-xs-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    @media screen and (max-width: $screen-xs-max) {
      padding-left: 0 !important;
      padding-right: 0 !important;
}
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
      @media screen and (max-width: $screen-xs-max){
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
}

#menu-main .active {
  color: #fff;
}
#headline {
  margin-top: 175px;
  font-size: 22px;
  line-height: 120px;
  text-align: center;
  color: #7D0404;
  opacity: 0.8;
}
#main-text {
  color: darkred;
  padding-right: 20px !important;
}
