---
# Custom subpage CSS
---

@charset "utf-8";
@import 'colors';

#nav-logo .list{
* {

}
img {
  border: 0px solid #999;
  margin-right: 0px;
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
}
p {
  color: $font-black;
  font-size:1.1em;
}
h1 {
  color: $purple;
  border-top: 1px solid $yellow;
  border-bottom: 1px solid $yellow;
  padding: 10px 0px 10px 10px;
  margin-right: 10px
}
h2 {
  color: $purple;
}
h3 {
  padding:0;
  color: $purple-light;
}
a {
  color: $yellow;
  &:hover {
    color: $yellow-dark;
  }
}
strong {
  font-weight: 600;
}
ul {
  padding: 0;
  margin: 0;
  clear: both;
}
li {
  list-style-type: none;
}
}
.other {
  * {
      font-family: 'Lato', sans-serif;
      font-size:1.75rem;
      line-height:2.25rem;
  }
  img {
    border: 0px solid #999;
    margin-right: 0px;
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
  }
  p {
    color: $font-black;
  }
  h1 {
    color: $purple;
    border-top: 1px solid $yellow;
    border-bottom: 1px solid $yellow;
    padding: 10px 0px 10px 0px;
    margin-right: 10px
  }
  h2 {
    color: $purple;
  }
  h3 {
    padding:0;
    color: $purple-light;
  }
  a {
    color: $yellow;
    &:hover {
      color: $yellow-dark;
    }
  }
  strong {
    font-weight: 600;
  }
  ul {
    padding: 0;
    margin: 35px;
    clear: both;
  }
  }
  .copyright {
    font-size:.75em;
  }
