<!DOCTYPE html>
<html lang="en" ng-app="AngularFireCart">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>ng-store App</title>

        <!-- Bootstrap core CSS -->
        <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this app -->
        <link href="app/style.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Navigation -->
        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="container navbar-header">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <a id="logo" class="navbar-brand" href="#"><img src="https://d1sb2vhc1h1lwk.cloudfront.net/designs2/222086/Preview/191919/1/display.jpg" width="40px"><b>Store!</b></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="simple-cart" data-simple-cart="simple-cart" ng-controller="CartCtrl">
                        <!-- Simple Cart Directive  -->
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <nav class="collapse navbar-collapse" id="menu" role="navigation">
                        <ul class="nav navbar-nav" ng-controller="CategoriesCtrl">
                            <li>
                                <a href="#/">All Products</a>
                            </li>
                            <li ng-repeat="category in categories">
                                <a href="#/categories/{{category.slug}}">{{category.title}}</a>
                            </li>
                            <li>
                                <a href="#/sale"><Span class="glyphicon glyphicon-tag btn-xs"></span> Sale</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </header>

        <!-- Page Content -->
        <div class="container" ng-view>
        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>by: <a href="https://twitter.com/code_paolo"><b>@code_paolo</b></a></span>
                    <a href="/admin.html" class="pull-right"><span class="glyphicon glyphicon-lock btn-xs"></span>Admin</a>
                </div>
            </div>
        </footer>

        <!-- Usually these JavaScript files also get uglified for production
             However, for build time and debugging purpose they are left as is.
        ==================================================================== -->
        <script src="libs/jquery/dist/jquery.min.js"></script>
        <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="libs/angular/angular.js"></script>
        <script src="libs/angular-resource/angular-resource.js"></script>
        <script src="libs/angular-route/angular-route.js"></script>
        <script src="libs/angular-animate/angular-animate.js"></script>
        <script src="libs/angular-local-storage/angular-local-storage.js"></script>
        <script src="libs/firebase/firebase.js"></script>
        <script src="libs/angularfire/dist/angularfire.js"></script>
        <script src="app/app.min.js"></script>
    </body>
</html>