<div class="row" id="right-col-buttons">
    <a href="{{site.baseurl}}/admisiones/"><div class="m-button-purple col-xs-12"><span class="btn-padding">Admisiones</span></div></a>
    <a href="{{site.baseurl}}/acerca-de-olin/"><div class="m-button col-xs-12"><span class="btn-padding">Acerca de Olin</span></div></a>
    <a href="{{site.baseurl}}/academicas/"><div class="m-button col-xs-12"><span class="btn-padding">Academicas</span></div></a>
    <a href="{{site.baseurl}}/estudiante-actual/"><div class="m-button col-xs-12"><span class="btn-padding">Estudiante Actual</span></div></a>
  </div>
