<style type="text/css">
 A {
	color : #004271 !important;
	font-size : 18px !important;
	padding : 0 !important;
	margin : 0 !important;
}
 p {
	padding : 5px 0px 5px 15px !important;
	margin : 0 !important;
}
.ui-accordion-content {
	width : 100% !important;
	color : #777 !important;
	line-height : 16pt !important;
}
.ui-accordion-header a {
	color : #fff !important;
	line-height : 1.25em !important;
	display : block !important;
	font-size : 12pt !important;
	width : 100% !important;
	padding : 5px 5px !important;
	margin : 0px 0 !important;
}
#accordion *.ui-accordion-content> * {
	margin : 0px !important;
	padding : 20px !important;
}
.ui-accordion-header {
	padding : 2px !important;
	background-color : #FCAF28 !important;
	margin : 0px !important;
}
.ui-accordion-header a {
	text-shadow : 1px 1px 0px rgba(0, 0, 0, 0.2) !important;
	border-right : 1px solid rgba(0, 0, 0, .2) !important;
	border-left : 1px solid rgba(0, 0, 0, .2) !important;
	border-bottom : 1px solid rgba(0, 0, 0, .2) !important;
	border-top : 1px solid rgba(250, 250, 250, .2) !important;
}

</style>

<div id="accordion">
  <h3>
   <a href="#">
    ¿Quién es elegible?
   </a>
  </h3>
  <div>
   <p>
    Los estudiantes menores de 18 años son elegibles sin importar el número de créditos que tengan.
   </p>
   <p>
    Los estudiantes de 19 años puede inscribirse si: se han inscrito de forma continua en una escuela pública.
    <em>
     if
    </em>
    :
They have been continuously enrolled in a public school.
   </p>
   <p>
    *No elegibles: Si el estudiante ha asistido a una escuela no pública, colegio comunitario o escuela  de adultos.
   </p>
  </div>
  <h3>
   <a href="#">
    ¿OVA apoya a los estudiantes que están atrasados en los créditos?
   </a>
  </h3>
  <div>
   <p>
    OVA tiene una lista completa de los cursos de recuperación de créditos que están programados para ser de 9 semanas de duración durante los semestres de otoño y primavera.  Los estudiantes matriculados en este tipo de clases trabajan a su propio ritmo, en el software tutorial, y tienen la flexibilidad necesaria para terminar la clase antes de 9 semanas o más si es necesario.
   </p>
  </div>
  <h3>
   <a href="#">
    ¿De qué manera OVA apoya a los estudiantes con IEP OVA y planes 504?
   </a>
  </h3>
  <div>
   <p>
    OVA es una escuela pública que sirve a estudiantes con planes de educación individual.  La academia cuenta con un personal  de maestros completamente acreditados en la Educación Especial también proporciona las acomodaciones necesarias que forman parte de los
    <br>
    estudiantes de IEP.
   </p>
  </div>
  <h3>
   <a href="#">
    ¿OVA WASC está Acreditada?
   </a>
  </h3>
  <div>
   <p>
    Estamos acreditados bajo la Escuela Secundaria del Condado de Los Angeles en línea.  Asistir y graduarse de una escuela acreditada WASC le  ofrece a su hijo con mejores oportunidades de asistir y tener éxito en una universidad de 4 años.  El proceso de acreditación WASC es una “auditoria” rigurosa de las escuelas con  programa académico.  La aprobación WASC demuestra que la escuela es de alta calidad.  Universidades de 4 años no aceptan clases de escuelas secundarias que no están acreditadas.  La ayuda financiera no está disponible para estudiantes que se gradúan de las escuelas no acreditadas a nivel del colegio comunitario o universidad. Graduarse de una escuela secundaria no acreditada impactará la aplicación  para el cuerpo de bomberos, para e departamento del sheriff, para la oficina de policía y además para el departamento de las Fuerzas Armadas de los Estados Unidos.
   </p>
  </div>
  <h3>
   <a href="#">
    ¿OVA apoya a los estudiantes vinculados a la universidad?
   </a>
  </h3>
  <div>
   <p>
    OVA tiene una lista completa de cursos A-G, aprobados por las Universidades de California,  WASC está Acreditada y también tiene cursos de colocación adelantada.  Nuestros consejeros están muy bien equipados para proporcionar planes académicos que incluyen los cursos necesarios para asistir a universidades de 4 años, colegios comunitarios o escuelas de oficios.
   </p>
  </div>
  <h3>
   <a href="#">
    ¿Cuál es el costo de la matriculación?
   </a>
  </h3>
  <div>
   <p>
    La academia  Virtual Olin es una Escuela Pública.  Eso significa que es gratis y financiada con fondos públicos al igual que otras escuelas públicas.
   </p>
  </div>
  <h3>
   <a href="#">
    ¿OVA Proporciona equipos?
   </a>
  </h3>
  <div>
   <p>
    Si, ofrecemos equipos.  Los estudiantes reciben una computadora portátil e impresoras/escáner cuando su inscripción se ha completado.
   </p>
  </div>
  <h3>
   <a href="#">
    ¿OVA paga la conexión para el Internet?
   </a>
  </h3>
  <div>
   <p>
    También ofrecemos reembolso parcial para el servicio de Internet, pagado dos veces por año, para los estudiantes que califican para el Programa Nacional de Almuerzos Escolares.
   </p>
  </div>
 </div>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" ></script>
