<body class="landing-page">
<header class="hidden-xs">

    <nav id="menu-main" class="navbar navbar-fixed-top">
      <div id="menu-nav" class="container-fluid">
      <ul>
        <li><a href="{{site.baseurl}}/index.html">Inicio</a></li>
        <li><a href="{{site.baseurl}}/acerca-de-olin/">Acerca de Olin</a>
          <ul>
            <li><a href="{{site.baseurl}}/acerca-de-olin/maestros/">Maestros</a></li>
            <li><a href="{{site.baseurl}}/acerca-de-olin/personal/">Personal y Administración</a></li>
            <li><a href="{{site.baseurl}}/acerca-de-olin/calendario/">Calendario de Eventos</a></li>
            <!--<li><a href="{{site.baseurl}}/acerca-de-olin/preguntas/">¿Preguntas o Comentarios?</a></li>-->
            <li><a href="{{site.baseurl}}/acerca-de-olin/consejo-olin/">Consejo Olin</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/academicas/">Académicas</a>
          <ul>
            <li><a href="{{site.baseurl}}/academicas/programa/">El Programa Olin</a></li>
            <li><a href="{{site.baseurl}}/academicas/equipo/">El Equipo Estudiantil de Éxito Académico</a></li>
            <li><a href="{{site.baseurl}}/academicas/idiomas-ingles/">Estudiante de idiomas Inglés</a></li>
            <li><a href="{{site.baseurl}}/academicas/educacion-especial/">Educación Especial</a></li>
            <li><a href="{{site.baseurl}}/academicas/inscripcion/">Inscripcion simultanea en el colegio</a></li>
            <li><a href="{{site.baseurl}}/academicas/filosofia/">Filosofía de la Educación</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/admisiones/">Admisiones</a>
          <ul>
            <li><a href="{{site.baseurl}}/admisiones/es-esto-para-mi/">¿Es esto para mí?</a></li>
            <li><a href="{{site.baseurl}}/admisiones/proceso/">Proceso de Matriculación</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/estudiante-actual/">Estudiante Actual</a>
          <ul>
            <li><a href="{{site.baseurl}}/estudiante-actual/asistencia-tecnia/">Asistencia Técnica</a></li>
            <li><a href="{{site.baseurl}}/estudiante-actual/recursos/">Recursos para Estudiantes</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/asociaciones/">Asociaciones</a></li>
        <li><a href="{{site.baseurl}}/testimonios/">Testimonios</a>
          <ul>
            <li><a href="{{site.baseurl}}/testimonios/jessica-gott/">Testimonio - Jessica Gott</a></li>
            <li><a href="{{site.baseurl}}/testimonios/perla-zambrano/">Testimonio - Perla Zambrano</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </nav>

</header>
