<style>
.required {
    color:#e9266d
}
#success, #error {
    display:none
}
#success span, #error span {
    display:block;
    position:absolute;
    top:0;
    width:100%
}
#success span p, #error span p {
    margin-top:6em
}
#success span p {
    color:#9bd32d
}
#error span p {
    color:#c0392b
}
</style>
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form id="contact" name="contact" method="post" novalidate="novalidate">
     <div class="form-group">
      <label class="control-label requiredField" for="name">
       Nombre:
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="name" name="name" placeholder="Nombre" type="text"/>
     </div>
     <div class="form-group">
      <label class="control-label requiredField" for="email">
       Correo Electrónico:
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="email" name="email" type="text"/>
     </div>
     <div class="form-group">
      <label class="control-label " for="telephone">
       Teléfono:
      </label>
      <input class="form-control" id="telephone" name="telephone" type="text"/>
     </div>
     <div class="form-group">
      <label class="control-label requiredField" for="message">
       Mensaje:
       <span class="asteriskField">
        *
       </span>
      </label>
      <textarea class="form-control" cols="40" id="message" name="message" rows="10"></textarea>
     </div>
     <div class="form-group">
      <label class="control-label " for="select">
       ¿Cómo se enteró de nosotros?:
      </label>
      <select class="select form-control" id="select" name="select">
       <option value="Volantes">
        Volantes
       </option>
       <option value="Anuncio en el periódico">
        Anuncio en el periódico
       </option>
       <option value="Búsqueda en Internet">
        Búsqueda en Internet
       </option>
       <option value="Estudiante actual">
        Estudiante actual
       </option>
       <option value="Otro">
        Otro
       </option>
      </select>
     </div>
     <div class="form-group">
      <div>
       <input name="_honey" style="display:none" type="text"/>
       <button class="btn btn-primary btn-lg" name="submit" type="submit">
        Enviar Mensaje
       </button>
      </div>

      <div id="success">
          <span class="green textcenter">
              <p>Your message was sent successfully! I will be in touch as soon as I can.</p>
          </span>
      </div>

      <div id="error">
          <span>
              <p>Something went wrong, try refreshing and submitting the form again.</p>
          </span>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
<div id="success">
    <span class="green textcenter">
        <p>Your message was sent successfully! I will be in touch as soon as I can.</p>
    </span>
</div>

<div id="error">
    <span>
        <p>Something went wrong, try refreshing and submitting the form again.</p>
    </span>
</div>
<!-- Vendor JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">

// validate contact form
$(function() {
  $('#contact').validate({
      rules: {
          name: {
              required: true,
              minlength: 2
          },
          email: {
              required: true,
              email: true
          },
          message: {
              required: true
          },
          telephone: {
              required: true,
              minlength: 10
          }
      },
      messages: {
          name: {
              required: "The name cannot be left blank",
              minlength: "your name must consist of at least 2 characters"
          },
          email: {
              required: "We require your email address."
          },
          message: {
              required: "Your message can't be left blank.",
              minlength: "thats all? really?"
          },
          telephone: {
            minlength: "Please put the correct number."
          }

      },
      submitHandler: function(form) {
          $(form).ajaxSubmit({
              type:"POST",
              data: $(form).serialize(),
              url:"/scripts/process.php",
              success: function() {
                  $('#contact :input').attr('disabled', 'disabled');
                  $('#contact').fadeTo( "slow", 0.15, function() {
                      $(this).find(':input').attr('disabled', 'disabled');
                      $(this).find('label').css('cursor','default');
                      $('#success').fadeIn();
                  });
              },
              error: function() {
                  $('#contact').fadeTo( "slow", 0.15, function() {
                      $('#error').fadeIn();
                  });
              }
          });
      }
  });
});
</script>
