<div class="row">
{% assign sorted_members = (site.data.[include.tableName] | sort: include.order ) %}
{% assign sorted_members_size = (site.data.[include.tableName] | size ) %}

{% for member in sorted_members %}
{%  capture totalCounter %}{{totalCounter | plus: 1}}{% endcapture %}

{% if member.category != oldcat %}
{% case n %}
  {% when '0' %}

<!-- New Category -->
  {% when '2' %}
<div class="col-lg-4"></div></div>
<div class="row">
<!-- New Category -->
  {% when '1' %}

<div class="col-lg-4"></div>
<div class="col-lg-4"></div>
</div>
<div class="row">
<!-- New Category -->
{% endcase %}
{% endif %}

{% if member.category != oldcat %}
  {% capture oldcat %}{{ member.category }}{% endcapture %}
  {% assign counter = 0 %}
  {% capture counter %}{{ counter | plus: 1 }}{% endcapture %}
{% endif %}



{% capture email %}{{ member.email }}@olinacademy.org{% endcapture %}
{% capture fullName %}{{ member.first}} {% if member.middle%}{{ member.middle }} {% endif %}{{ member.last}}{% endcapture %}
{% capture imagename %}{{fullName | downcase | replace: ' ', '-' | replace: 'á', 'a' | replace: 'é', 'e' | replace: 'í', 'i' | replace: 'ó' , 'o' | replace: 'ú', 'u' | replace: 'ü', 'u'| replace: 'ñ', n | replace: '¿', '?' | replace: '¡','!'  }}-125x125.jpg{% endcapture %}

{% case counter %}
{% when '1' %}
<h1>{{ member.category | capitalize }}</h1>
<!-- start Category rows -->
</div>
<div class="row" >
{% endcase %}
<div class="col-lg-4">
  <div class="media">
    <div class="media-left">
        <img class="media-object thumbnail" src="{{site.baseurl}}/images/{{imagename}}" alt="{{fullName}} - {{member.title | capitalize}}">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{fullName}}</h4>
      <p>{% if include.titles == 'show' %}
        <strong>{{ member.title }}</strong>
        {% else %}
        {{ member.subject }}
        {% endif %}
        <br>
        <strong>Email: </strong><a href="{{email}}">{{ email }}</a>
        <br>
        <strong>Ext: </strong>{{ member.ext }}
    </div>
  </div>
</div>
{% capture n %}{{counter | modulo: 3 }}{% endcapture %}



{% if n == '0'%}
  </div>
<!-- end row -->
  {% if oldcat == member.category %}
  <div class="row">
  {%endif%}
{% endif %}



{% capture counter %}{{ counter | plus: 1}}{%endcapture%}
{% endfor %}

{% if (totalCounter | plus:1) == (sorted_members_size : plus: 1)  %}
{% case n %}
  {% when '2' %}
  <div class="col-lg-4"></div>
  <!-- close loop-->
</div>
  {% when '1' %}
  <div class="col-lg-4"></div>
  <div class="col-lg-4"></div>
    <!-- close loop-->
</div>
  {% else %}
  <!-- close loop-->
</div>
{% endcase %}
{% endif %}
