html, body {
	margin: 0px;
	min-height: 100%;

	font-family: sans-serif;
	font-size: 15px;
}

h1 {
	text-align: center;
	margin-bottom: 5px;
}

.alert {
	display: table;
	margin: 0 auto;

	padding: 10px;
	border-radius: 3px;
}

.valid {
	background-color: #AACCAA;
}

.invalid {
	background-color: #CCAAAA;
}

#main {
	display: table;
	margin: 0 auto;
	position: relative;
}

/* Board Styling */
#board {
	border-left: 2px solid black;
	border-top: 2px solid black;

	margin: 20px;
}

#board input {
	-webkit-appearance: none;

	width: 2em;
	height: 2em;
	font-size: 1.3em;

	border: none;
	border-right: 1px solid gray;

	text-align: center;
}

#board input.user {
	font-weight: bold;
}

#board .row input:nth-of-type(3n) {
	border-right: 2px solid black;
}

#board .row {
	border-bottom: 1px solid gray;
}

#board .row:nth-of-type(3n) {
	border-bottom: 2px solid black;
}

.possible {
	display: table;
	margin: 10px auto 0 auto;
	box-sizing: border-box;

	color: white;
	text-align: center;

	border-radius: 3px;
	padding: 5px;
	background-color: #AAAACC;
}

/* Controls Styling */
#controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;

	position: absolute;
	top: 0px;
	right: -13em;
}

#controls button {
	width: 12em;
	height: 3em;
	margin: 5px 0;

	-webkit-appearance: none;
	border: none;
	border-radius: 3px;

	color: white;
	font-size: 1em;

	cursor: pointer;
}

button.next {
	background-color: #0164C2;
}

button.finish, button.finishanim {
	background-color: #01C264;
}

button.reset {
	background-color: #AC1212;
}

button:disabled {
	background-color: #AAAAAA;
}