<footer class="footer">
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
Copyright 2015. All Rights Reserved. Olin Virtual Academy.
</div>
</div>
</footer>

<!--menu -->
<div class="hidden-md hidden-lg" id="panel-menu">
  <div id="panel-menu-inner">
    <nav>
      <ul>
        <li><a href="{{site.baseurl}}/about/">About</a></li>
        <li><a href="{{site.baseurl}}/our-vision/">Our Vision</a></li>
        <li><a href="{{site.baseurl}}/contact-us/">Contact Us</a></li>
      </ul>
    </nav>
  </div>
  </div>
</html>
