---
#Landing page
---

{% include head.html %}
{% include header.html %}

<!--MOBILE BUTTONS-->

<div class="row">
   <!--LOGO SECTION-->
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="logo">
    <a href="{{site.baseurl}}/index.html"><img class="logo-img img-responsive" src="images/olin-latina-logo.svg" onerror="this.src='images/olin-latina-logo.png'" alt="olin virtual academy"></a>
    <p class="logo-sub hidden-xs">Escuela en Línea del Condado de Los Angeles<br />administrada y operada por <span class="olin-font">Olin Virtual Academy</span></p>
  </div>
  <!--MENU BUTTONS-->
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs" id="menu-button">
    <span class="hidden-xs menu"><i style="padding-right: 15px;" class="fa fa-bars"></i>Menú</span>
  </div>
  </div>


<nav class="mobile-nav">
<div class="container-fluid">
  <div class="row visible-xs" >
  <div class="col-xs-12">
    <div class="visible-xs" id="menu-btn-mobile">
          <span class="visible-xs"><i id="fa-bars" class="fa fa-bars"></i></span>
      </div>
  </div>
  <div id="mobile-buttons" class="visible-xs row">
    <a href="{{site.baseurl}}/admisiones/"><div class="m-button-purple col-xs-12"><span class="btn-padding">Admisiones</span></div></a>
    <a href="{{site.baseurl}}/acerca-de-olin/"><div class="m-button col-xs-12"><span class="btn-padding">Acerca de Olin</span></div></a>
    <a href="{{site.baseurl}}/academicas/"><div class="m-button col-xs-12"><span class="btn-padding">Academicas</span></div></a>
    <a href="{{site.baseurl}}/estudiante-actual/"><div class="m-button col-xs-12"><span class="btn-padding">Estudiante Actual</span></div></a>
  </div>
  <p class="infographic-heading ">
      Haz que el dinero del estado<span style="font-weight: 900;">trabaje para ti</span>
  </p>
</div>
</div>
</nav>

<!--INFOGRAPHIC HEADING NON-MOBILE-->
<div class="container-fluid" id="infographic-section">
  <div class="row" >
  <div class="col-lg-6 col-md-6 col-sm-6 col-sm-push-6 col-md-push-6 hidden-xs" >
    <p class="infographic-heading">
        Haz que el dinero del estado<br /><span style="font-weight: 900;">trabaje para ti</span>
    </p>
</div>
</div>
  <div class="row" >
      <div class="col-lg-6 col-md-6 col-sm-6 col-sm-push-6 col-md-push-6  col-xs-12">
    <img class="hidden-xs img-responsive infographic" src="images/olin-latina-infographic.svg" onerror="this.src='images/olin-latina-infographic.png'" alt="infographic escuelas publicas libro de texto gratis escuela en linea">
    <img class="visible-xs img-responsive infographic" src="images/olin-latina-infographic-mobile.svg" onerror="this.src='images/olin-latina-infographic-mobile.png'" alt="infographic escuelas publicas libro de texto gratis escuela en linea">
          <div style="padding: 20px; padding-left: 20px !important; padding-right: 20px !important;" class="col-lg-12 col-md-12 col-xs-12 infographic-description">
            Recibe tu diploma de escuela preparatoria de forma gratuita en un ambiente académico, flexible y libre de intimidaciones. Con maestros que tienen todas las credenciales para darte un  entorno completo 100% virtual.
          </div>
    </div>
</div>
</div>

{% include footer.html %}
</body>
