
#menu-button-sub {
  padding: 7% 0 0 0;
  font-size: 1.8em;
  font-weight: 700;
  cursor: pointer;
  @media screen and (max-width: $screen-xs-max) {
    position: fixed;
    padding: 0;
    top: 0px;
    right: 10px;
    font-size: 2.3em;
    z-index: 9999;
    color: #333;
}
}
.sub-page-header-img {
  margin-top: $nav-height;
  width: 100%;
  border-radius: 5px;
  @media screen and (max-width: $screen-xs-max) {
      margin-top: 85px;
}
@media screen and (max-width: $screen-sm-min) {
    margin-top: 100px;
}
}
#sub-pages-content {
  margin-top: 0px;
  padding: 25px !important;
  min-height: 700px;
  background-color: rgba(255,255,255,0.65);
}
#staff-content {
  margin-top: 15px;
  min-height: 700px;
  background-color: rgba(255,255,255,0.65);
}
#logo-sub {
  position: fixed;
  padding: 20px !important;
  top: 15px;
  left: 20px;
  width: 15%;
  z-index: 9998;
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    @media screen and (max-width: $screen-md-max) {
      position: fixed;
      padding: 15px 25px 15px 25px;
      top: 4px;
      left: 20px;
      width: 10%;
      z-index: 9998;
      background-color: rgba(255,255,255,0.9);
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    }
}
.logo-sub{
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
  font-size: 1.1em;
  line-height: 20px;
}
.left-column {
  margin-top: 0px;
  border-right: 1px solid #D3D3D3;
    @media screen and (max-width: $screen-xs-max) {
      border-right: 0;
      font-size: 12px;
      h1 {
        font-size: 1.75em;
      }
      h3 {
        font-size: 2em;
      }
    }
}
.right-column {
  margin-top: 25px;
  padding: 0px 15px 0px 15px !important;
  @media screen and (max-width: $screen-xs-max) {
    font-size: 12px;
    margin-bottom: 25px;
  }
}
