#doggy {
	display: none;
}
.dog { 
    top: 160%;
    left: 200px;
    position: absolute;
    -ms-transform: scale(.8);
    -webkit-transform: scale(.8);
    transform: scale(1) translateX(-50%);
    width: 100%;
}

.dog-head { 
  background-color: #F8DC93;
  height: 14vmin;
  width: 20vmin;
  -moz-border-radius: 2vmin 0 0 16vmin;
  border-radius: 2vmin 0 0 16vmin;
  transform-origin: 100% 0%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 7vmin;
  top: -5vmin;
  position: absolute;
  z-index: 1;
    -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.dog-smile {
  height: 3vmin;
  width: 4vmin;
  -moz-border-radius: 150px 0 0 0;
  border-radius: 16vmin 0 0 0;
  transform-origin: 100% 0%;
  border-top: 3px solid #D2AF5E;
  border-left: 2px solid #D2AF5E;
  outline: 0px solid #fff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(180deg);
  left: -.8vmin;
  /* top: -5vmin; */
  position: absolute;
  z-index: 1;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  background: #F8DC93;
}

.dog-fang1 {
  display: inline-block;
  width: 0;
  border: .9vmin transparent solid;
  border-bottom: 2vmin rgb(248, 220, 147) solid;
  top: -.3vmin;
  left: 2vmin;
  position: absolute;  
}

.dog-fang2 {
display: inline-block;
  width: 0;
  border: .9vmin transparent solid;
  border-bottom: 2vmin rgb(248, 220, 147) solid;
  top: -.3vmin;
  left: .2vmin;
  position: absolute;
}

.dog-tongue {
  height: 3vmin;
  width: 2.5vmin;
  -moz-border-radius: 150px 0 0 0;
  border-radius: 1vmin 1vmin 0 0;
  transform-origin: 100% 0%;
  /* border-top: 3px solid #D2AF5E; */
  /* border-left: 2px solid #D2AF5E; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 1.3vmin;
  top: -3.2vmin;
  position: absolute;
  z-index: 1;
  background-color: #F5901E;
    -webkit-animation: pant .3s infinite;
          animation: pant .3s infinite;
}

.dog-nose { 
  background-color: #000;
  height: 3vmin;
  width: 3vmin;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: -1vmin;
  left: -1vmin;
  position: relative;
    -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.dog-eye { 
  background-color: #D2AF5E;
  height: 7vmin;
  width: 7vmin;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: -1vmin;
  left: 10vmin;
  position: relative;
    -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
 
.dog-eye div { 
  background-color: #000;
  height: 3vmin;
  width: 3vmin;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 1vmin;
  left: 2vmin;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  position: relative;
} 

.dog-eye div div{ 
  background-color: #FFF;
  height: 1vmin;
  width: 1vmin;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: .5vmin;
  left: .5vmin;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: relative;
} 

.dog-ear{ 
  background-color: #C3AF79;
  height: 4vmin;
  width: 3vmin;
  -moz-border-radius: 2vmin 0 0 16vmin;
  border-radius: 16vmin 4vmin 0 0;
  transform-origin: 100% 0%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(1deg);
  left: 14vmin;
  top: -4vmin;
  position: absolute;
  z-index: -1;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  box-shadow: 20px 2px 0 0 #F8DC93;
} 

.dog-body { 
background-color: #F8DC93;
  height: 14vmin;
  width: 26vmin;
  transform-origin: 100% 0%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 22vmin;
  top: 4vmin;
  position: absolute;
  z-index: 1;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  -moz-border-radius: 2vmin 0vmin 0vmin 14vmin;
  border-radius: 2vmin 0vmin 0vmin 14vmin;
}

.dog-spot { 
  background-color: #D2AF5E;
  height: 9vmin;
  width: 5vmin;
  -moz-border-radius: 150px 0 0 150px;
  border-radius: 150px 0 0 150px;
  transform-origin: 100% 0%;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(270deg);
  left: 7vmin;
  top: 0vmin;
  position: absolute;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.dog-tail { 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 5vmin 3vmin;
  border-color: transparent transparent #F8DC93 transparent;
  position: absolute;
  top: -4vmin;
  right: 0;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
    -webkit-animation: wag .4s ease-in-out infinite;
  animation: wag .4s ease-in-out infinite; 
}

.dog-leg1 { 
  background-color: #F8DC93;
  height: 6vmin;
  width: 3vmin;
  transform-origin: 100% 0%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 6vmin;
  top: 12vmin;
  position: absolute;
  z-index: 1;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.dog-leg1 div { 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6vmin 4vmin;
  border-color: transparent transparent #F8DC93 transparent;
  position: absolute;
  right: 0vmin;
  bottom: 0;
}

.dog-leg2 { 
  background-color: #F8DC93;
  height: 5vmin;
  width: 3vmin;
  transform-origin: 100% 0%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 10vmin;
  top: 13vmin;
  position: absolute;
  z-index: 1;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.dog-leg2 div { 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6vmin 0 0 4vmin;
  border-color: transparent transparent transparent #F8DC93;
  position: absolute;
  bottom: 0;
}

.dog-leg3 { 
  background-color: #F8DC93;
  height: 4vmin;
  width: 3vmin;
  transform-origin: 100% 0%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 23vmin;
  top: 14vmin;
  position: absolute;
  z-index: 1;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  box-shadow: -4vmin 0vmin 0 0 #C3AF79;
}

.dog-leg3 div { 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 4vmin 5vmin;
  border-color: transparent transparent #F8DC93 transparent;
  position: absolute;
  right: 0vmin;
  bottom:0;
}

.dog-leg3 div div{
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #C3AF79 transparent;
    position: absolute;
    right: 4vmin;
    bottom: -3.9vmin;
	    z-index: -2;
}

.dog:hover .dog-smile { 
  background: #fff;
  border-radius: 0vmin 0vmin 0vmin 0vmin; 
  border: 0px solid #fff;
    animation: snarl .1s ease-in-out infinite;
  -webkit-animation: snarl .1s ease-in-out infinite;
}

.dog:hover .dog-tongue { 
width: 0vmin;
height: 0vmin;
}

.dog:hover .dog-tail { 
    -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
      -webkit-animation: nowag .4s ease-in-out infinite;
  animation: nowag .4s ease-in-out infinite; 
}

.dog:hover .dog-eye div div { 
width: .5vmin;
height: .5vmin;
}

.dog:hover .dog-body { 
animation: heave .1s ease-in-out infinite; 
}

@keyframes pant {
0% {height: 3vmin; top: -3.2vmin;}
50% {height: 2vmin; top: -2.2vmin;}
100% {height: 3vmin; top: -3.2vmin;}
}

@-webkit-keyframes pant {
0% {height: 3vmin; top: -3.2vmin;}
50% {height: 2vmin; top: -2.2vmin;}
100% {height: 3vmin; top: -3.2vmin;}
}

@keyframes snarl {
  0% {
outline: 0px solid #Fff;
  }
  50% {
outline: 2px solid #fff;
  }
  100% {
outline: 0px solid #fff;
  }
}

@-webkit-keyframes snarl {
  0% {
outline: 0px solid #Fff;
  }
  50% {
outline: 2px solid #fff;
  }
  100% {
outline: 0px solid #fff;
  }
}

@keyframes heave {
  0% {
border-radius: 2vmin 0vmin 0vmin 14vmin;
  }
  50% {
border-radius: 2vmin 0vmin 0vmin 20vmin;
  }
  100% {
border-radius: 2vmin 0vmin 0vmin 14vmin;
  }
}

@-webkit-keyframes heave {
  0% {
outline: 0px solid #Fff;
  }
  50% {
outline: 2px solid #fff;
  }
  100% {
outline: 0px solid #fff;
  }
}

@keyframes wag {
0% {transform: rotate(15deg);}
25% {transform: rotate(20deg);}
50% {transform: rotate(10deg);}
75% {transform: rotate(20deg);}
100% {transform: rotate(10deg);}
}

@-webkit-keyframes wag {
00% {transform: rotate(15deg);}
25% {transform: rotate(20deg);}
50% {transform: rotate(10deg);}
75% {transform: rotate(20deg);}
100% {transform: rotate(10deg);}
}
